
@using SeekerJob.Models
@{
    Login user = Session["admin"] as Login;

}
@{
ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_MyLayout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-red">
            <div class="panel-heading">
                Thêm mới tin tức
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form>
                    <!--Basic Information-->
                    <div class="panel panel-default">
                        <div class="panel-heading wt-panel-heading p-a20">
                            <h4 class="panel-tittle m-a0"><i class="fa fa-suitcase"></i>Chi tiết tin tức</h4>
                        </div>
                        <div class="panel-body wt-panel-body p-a20 m-b30 ">

                            <div class="row">
                                <!--Job title-->
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>Tiêu đề tin tức</label>
                                        <div class="ls-inputicon-box">
                                            <input id="tieude" class="form-control" name="company_name" type="text" placeholder="Devid Smith">
                                            <i class="fs-input-icon fa fa-newspaper"></i>
                                        </div>
                                        <p id="mstieude" style="padding:2px;display:none; color:aliceblue"></p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>Nội dung chính</label>
                                        <div class="ls-inputicon-box">
                                            <input id="noidung" class="form-control" name="company_short" type="text" placeholder="short brief">
                                            <i class="fs-input-icon fa fa-hacker-news-square"></i>
                                            <p id="msnoidung" style="padding:2px;display:none; color:aliceblue"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>Email </label>
                                        <div class="ls-inputicon-box">
                                            <input id="email" class="form-control" name="company_Email" type="email" placeholder="Devid@example.com">
                                            <i class="fs-input-icon fas fa-mail-bulk"></i>
                                            <p id="msemail" style="padding:2px;display:none; color:aliceblue"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>Số điện thoại </label>
                                        <div class="ls-inputicon-box">
                                            <input id="phone" class="form-control" name="company_phone" type="email" placeholder="1111111">
                                            <i class="fs-input-icon fas fa-phone"></i>
                                            <p id="msphone" style="padding:2px;display:none; color:aliceblue"></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Mô Tả</label>
                                        <textarea class="form-control" name="content" id="editor" rows="3" placeholder="Xin chào! Chúng tôi là Công ty Phát triển Phần mềm Galaxy. Chúng tôi hy vọng bạn sẽ hài lòng với dịch vụ và chất lượng của chúng tôi."></textarea>
                                    </div>
                                    <p id="msmota" style="padding: 2px; display: none; color: red";>Nhập đầy đủ thông tin mô tả</p>
                                </div>
                                <div class="col-md-4">
                                    <div class="twm-candidate-profile-pic">
                                        <label>Ảnh bìa</label>
                                        <img src="~/ContentImage/images/blog/blog-single/1.jpg" alt="">
                                        <div class="upload-btn-wrapper">

                                            <div id="upload-image-grid"></div>
                                            <button class="site-button button-sm">Tải ảnh lên</button>
                                            <input type="file" name="myfile" id="file-uploader" accept=".jpg, .jpeg, .png">
                                        </div>

                                    </div>
                                    <p id="msanh" style="padding:2px;display:none; color:aliceblue"></p>
                                </div>



                                <!--Start Date-->
                                <!--End Date-->
                                @*<div class="col-lg-12 col-md-12">
                                        <div class="text-left">
                                            <div onclick="AddNews()" type="submit" class="site-button m-r5">Đăng Tin Tức</div>
                                        </div>
                                    </div>*@
                                <div class="col-lg-12 col-md-12">
                                    <div class="text-left">
                                        <div onclick="AddNews()" class="site-button m-r5">Đăng Tin Tức</div>
                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>
                </form>
                <div>
                    @Html.ActionLink("Trở lại", "Index")
                </div>
            </div>
        </div>
    </div>

</div>
@section _Footer
{
    <script src="~/Areas/admin/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Areas/admin/Content/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        var editor = CKEDITOR.replace("description");
        var editor = CKEDITOR.replace("description", { height: '600px' });
        customConfig: '/Areas/admin/Content/ckeditor/config.js';
    </script>
    <script>
        $(function () {
            $("#name").keyup(function () {
                var text = $.trim($(this).val().toLowerCase());
                var text_create;
                text_create = text.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a").replace(/\ /g, '-').replace(/đ/g, "d").replace(/đ/g, "d").replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y").replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u").replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ.+/g, "o").replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ.+/g, "e").replace(/ì|í|ị|ỉ|ĩ/g, "i");
                $('#meta').val(text_create);
            }).keyup();
        });
    </script>
}


@section scripts
    {
    <script>
        CKEDITOR.replace("editor");
    </script>
}



<script type="text/javascript">
        function AddNews() {

            var mota = encodeURIComponent(CKEDITOR.instances.editor.getData());
            var tieude = $('#tieude').val();
            var noidung = $('#noidung').val();
            var email = $('#email').val();
            var phone = $('#phone').val();
            var anh = $('#file-uploader')[0].files[0];
            var today = new Date();
            var day = today.toISOString().split('T')[0];
            var meta = convertToMeta(tieude);

            var phoneRegex = /^(0[35789])[0-9]{8}$/;
            $('#msmota, #mstieude, #msemail, #msnoidung, #msphone', '#msanh').html('');
            console.log(CKEDITOR.instances.editor.getData());

           flag = true
        if (mota=='') {
            //$('#msmota').html('Phải nhập đủ tất cả thông tin mô tả');
            //$('#msmota').css('border-color', 'red');
            //$('#msmota').css('color', 'red');
            $('#msmota').css('display', 'block');
            flag = false
        }
        if (tieude=='') {
            $('#mstieude').html('Phải nhập đủ tất cả thông tin tiêu đề');
            $('#mstieude').css('border-color', 'red');
            $('#mstieude').css('color', 'red');
            $('#mstieude').css('display', 'block');
            flag = false
        }
        if (noidung=='') {
            $('#msnoidung').html('Phải nhập đủ tất cả thông tin nội dung');
            $('#msnoidung').css('border-color', 'red');
            $('#msnoidung').css('color', 'red');
            $('#msnoidung').css('display', 'block');
            flag = false
        }
            if (email =='') {
            $('#msemail').html('Phải nhập đủ tất cả thông tin email');
            $('#msemail').css('border-color', 'red');
            $('#msemail').css('color', 'red');
            $('#msemail').css('display', 'block');
            flag = false
        }
        if (phone=='') {
            $('#msphone').html('Phải nhập đủ tất cả thông tin số điện thoại');
            $('#msphone').css('border-color', 'red');
            $('#msphone').css('color', 'red');
            $('#msphone').css('display', 'block');
            flag = false

        }
        if (!(phone.length === 10 && /^\d+$/.test(phone))) {  
            $('#msphone').html('Số điện thoại không đúng định dạng (10 số)');
            $('#msphone').css({
                'border-color': 'red',
                'color': 'red',
                'display': 'block'
            });
            flag = false;
        }
        if (!anh) {
            $('#msanh').html('Phải chọn ảnh');
            $('#msanh').css('border-color', 'red');
            $('#msanh').css('color', 'red');
            $('#msanh').css('display', 'block');
            flag = false
        }
            if (flag) {


                var form = new FormData()
                form.append('mota', mota);
                form.append('tieude', tieude);
                form.append('noidung', noidung);
                form.append('email', email);
                form.append('phone', phone);
                form.append('day', day);
                form.append('meta', meta);
                form.append('anh', anh);
                var xhr = new XMLHttpRequest();
                xhr.open("POST", '/news/CreateNews', true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var content = xhr.responseText;
                        var json_ct = JSON.parse(content);
                        if (json_ct.Data.status == "OK") {
                            alert("Success");
                        }
                        else {
                            alert("Error");
                        }
                    }
                }
                xhr.send(form);

            }

        console.log("Tiêu đề:", tieude);
        console.log("Nội dung:", noidung);
        console.log("Email:", email);
        console.log("Số điện thoại:", phone);
        console.log("Mô tả:", mota);
        console.log("Ngày hôm nay:", day);
        console.log("Meta:", meta);
        console.log("anh:", anh);
    }

    function SendNewsData( mota, tieude, noidung, email, phone, day, meta, anh)
    {
        var form = new FormData()
        form.append('mota', mota);
        form.append('tieude', tieude);
        form.append('noidung', noidung);
        form.append('email', email);
        form.append('phone', phone);
        form.append('day', day);
        form.append('meta', meta);
        form.append('anh', anh);
        var xhr = new XMLHttpRequest();
        var domain = '@Request.Url.Scheme://@Request.Url.Host:@Request.Url.Port';
        xhr.open("POST",'/news/testnews', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var content = xhr.responseText;
                var json_ct = JSON.parse(content);
                if (json_ct.Data.status == "OK") {
                    alert("Success");
                }
                else {
                    alert("Error");
                }
            }
        }
        xhr.send(form);

    }


        function convertToMeta(text) {
            return text.toLowerCase().trim()
                .replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ|à/g, "a")
                .replace(/\s+/g, '-')
                .replace(/đ/g, "d")
                .replace(/ỳ|ý|ỵ|ỷ|ỹ|ỳ/g, "y")
                .replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ|ù/g, "u")
                .replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ|ò/g, "o")
                .replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ|è/g, "e")
                .replace(/ì|í|ị|ỉ|ĩ|ì/g, "i");
        }


</script>