@{
    var tablepro = ViewData["tablepro"] as List<tablebannerpart>;
    var tablenews = ViewData["tablenews"] as List<tablebannerpart>;
    var tablecompany = ViewData["tablecompany"] as List<tablebannerpart>;
}

<div class="col-xl-9 col-lg-8 col-md-12 m-b30">
    <div class="twm-right-section-panel site-bg-gray">
        <form>
            <div class="panel panel-default">
                <div class="panel-body wt-panel-body p-a20">
                    <div class="row" style="margin-bottom: 20px;">
                        <h3>Quảng cáo sản phẩm</h3>
                        @foreach (var item in tablepro)
                        {
                            <div class="col-lg-2 col-md-4 col-ms-2" style="margin-bottom: 15px;">
                                <div>
                                    <img src="~/ContentImage/images/@item.link" style="width: 100px; height: 100px; object-fit: cover; margin-bottom: 5px">
                                    <div class="btn btn-danger">Xóa</div>
                                </div>
                            </div>
                        }
                        <h5>Thêm quảng cáo</h5>
                        <div style="display: flex;">
                            <input id="file-upload" type="file" accept="image/*" />
                            <div class="btn btn-success">Lưu</div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 20px;">
                        <h3>Quảng cáo tin tức</h3>
                        @foreach (var item in tablenews)
                        {
                            <div class="col-lg-4 col-md-4 col-ms-2" style="margin-bottom: 15px;">
                                <div>
                                    <img src="~/ContentImage/images/@item.link" style="width: 100px; height: 100px; object-fit: cover; margin-bottom: 5px">
                                    <div class="btn btn-danger">Xóa</div>
                                </div>
                            </div>
                        }
                        <h5>Thêm quảng cáo</h5>
                        <div style="display: flex;">
                            <input id="file-upload" type="file" accept="image/*" />
                            <div class="btn btn-success">Lưu</div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 20px;">
                        <h3>Quảng cáo công ty</h3>
                        @foreach (var item in tablecompany)
                        {
                            <div class="col-lg-2 col-md-4 col-ms-2" style="margin-bottom: 15px;">
                                <div>
                                    <img src="~/ContentImage/images/@item.link" style="width: 100px; height: 100px; object-fit: cover; margin-bottom: 5px">
                                    <div class="btn btn-danger">Xóa</div>
                                </div>
                            </div>
                        }
                        <h5>Thêm quảng cáo</h5>
                        <div style="display: flex;">
                            <input id="file-upload" type="file" accept="image/*" />
                            <div class="btn btn-success">Lưu</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
