@{
    dynamic info = null;

    if (Session["candidate"] != null || Session["admin"] != null)
    {
        // Gán kiểu InforCandidate cho candidate và admin
        info = ViewData["tablemenus"] as SeekerJob.Models.InforCandidate;
    }
    else if (Session["employer"] != null)
    {
        // Gán kiểu InforEmployer cho employer
        info = ViewData["tablemenus"] as SeekerJob.Models.InforEmployer;
    }
}

<div class="twm-candidate-profile-pic">
    @if (!string.IsNullOrEmpty(Model?.image))
    {
        <img src="~/ContentImage/images/@Model.image" alt="Company Image">
    }
    else
    {
        <img src="~/ContentImage/images/pic1.jpg" alt="Default Company Image">
    }

    <div class="upload-btn-wrapper">
        <div id="upload-image-grid"></div>
        <div onclick="uploadfile()" class="site-button button-sm">Tải ảnh lên</div>
        <input type="file" name="myfile" id="file-uploader" accept=".jpg, .jpeg, .png">
    </div>
</div>

<div class="twm-mid-content text-center">

        <h4 id="namecan">@ViewData["name"]</h4> <!-- Sử dụng .name để Razor hiểu là truy cập biến động `info` -->

</div>
<script>
    function uploadfile() {
        var img = $('#file-uploader')[0].files[0];
        form.append('img', img); // Đổi tên từ 'anh' thành 'img' để đồng nhất với biến
        var xhr = new XMLHttpRequest();
        xhr.open("POST", '/ProfileCandidates/UploadImage', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var content = xhr.responseText;
                var json_ct = JSON.parse(content);
                if (json_ct.Data.status == "OK") {
                    alert("Success");
                }
                else {
                    alert("Error");
                }
            }
        }
        xhr.send(form);
    }
</script>