@{
    dynamic info = null;

    if (Session["candidate"] != null || Session["admin"] != null)
    {
        // Gán kiểu InforCandidate cho candidate và admin
        info = ViewData["tablemenus"] as SeekerJob.Models.InforCandidate;
    }
    else if (Session["employer"] != null)
    {
        // Gán kiểu InforEmployer cho employer
        info = ViewData["tablemenus"] as SeekerJob.Models.InforEmployer;
    }
}

<div class="twm-candidate-profile-pic">
    @if (!string.IsNullOrEmpty(Model?.image))
    {
        <img id="img_info" src="~/ContentImage/images/@Model.image" alt="Company Image">
    }
    else
    {
        <img src="~/ContentImage/images/pic1.jpg" alt="Default Company Image">
    }

    <div class="upload-btn-wrapper">
        <div id="upload-image-grid"></div>
        <button class="site-button button-sm">Tải ảnh lên</button>
        <input type="file" name="myfile" id="file-uploader" accept=".jpg, .jpeg, .png">
    </div>
</div>

<div class="twm-mid-content text-center">

        <h4 id="namecan">@ViewData["name"]</h4> <!-- Sử dụng .name để Razor hiểu là truy cập biến động `info` -->

</div>

