@model SeekerJob.TitlePage

<div class="container">
    <div class="wt-bnr-inr-entry">
        <div class="" style="display:  flex;  align-items:center">
            <h2 style="color:rgb(4, 35, 108); margin-right:10px">@Model.tilteBig</h2>

            <h5 style="border-left: 1px solid black; padding-left:10px">@Model.titleMall</h5>

        </div>

    </div>
</div>
