
@using SeekerJob.Controllers
@using SeekerJob.Models
@{
    var title = ViewData["title"] as TitlePage;

}

<div class="wt-small-separator site-text-primary ">
    <div style="color: rgb(35, 168, 234)">@title.titleMall</div>
</div>
<h2 class="wt-title " style="color: rgb(255, 208, 0); padding-left: 10px ">@title.tilteBig</h2>