

@using SeekerJob.Controllers

@{
    var title = ViewData["title"] as List<TitlePage>;

}
<div class="" style="display: flex; align-items:center">
    <h2 style="color:rgb(4, 35, 108); margin-right:10px; font-size:30px">@title.First().tilteBig</h2>

    <h5 style="border-left: 1px solid black; margin-left:10px">@title.First().titleMall</h5>

</div>

