
@using SeekerJob.Controllers

@{
    var title = ViewData["title"] as TitlePage;

}

<div class="wt-small-separator site-text-primary ">
    <div>@title.titleMall</div>
</div>
<h2 class="wt-title " style="color: rgb(4, 35, 108); padding-left:10px">@title.tilteBig</h2>