
@using SeekerJob.Controllers
@using SeekerJob.Models

@{
    var amount = ViewData["amount"];
    var title = ViewData["title"] as List<TitlePage>;

}



<a href="#">
    <h2 style="color: rgb(255, 208, 0); margin-right: 10px; font-size: 30px; ">@title.First().tilteBig</h2>

</a>

<h5 style="border-left: 1px solid rgb(35, 168, 234); color: rgb(35, 168, 234); padding-left: 10px;">@title.First().titleMall</h5>

<h5 style=" padding-left:10px; margin-left:auto;">Hiển thị <span style="color:red">@amount +</span> việc làm</h5>