<div class="page-content">

    <div class="twm-home18-banner-section">

                     @{ Html.RenderAction("GetBanner", "Banner");}

    </div>




</div>

<div class="section-full p-t120 p-b90 site-bg-light-purple twm-bg-ring-wrap" style="background-color: rgb(223, 223, 223);">


    <div class="container my-2">
        <div style="display: flex; align-items:center;">
            @*<a href="#">
            <h2 style="color:rgb(4, 35, 108); margin-right:10px; font-size:30px;">Việc làm hấp dẫn</h2>

            </a>

            <h5 style="border-left: 1px solid black; padding-left:10px;">Được đề xuất bởi top AI</h5>

            <h5 style=" padding-left:10px; margin-left:auto;">Hiển thị <span style="color:red">2000+</span> việc làm</h5>*@
            @{ Html.RenderAction("GetTitileAndAmountJob1", "Home");}
        </div>
        <!-- Search Bar -->
        <div class="custom-search-wrapper" style="margin-bottom: 10px;">
            <div class="custom-search-bar" style="display: flex; flex-wrap: wrap; gap: 10px; padding: 5px 20px">
                <input type="text" placeholder="Vị trí tuyển dụng" class="custom-search-input" style="flex: 1;">
                <div class="custom-dropdown-container" style="display: flex; gap: 10px; flex: 1;">
                    <select class="wt-search-bar-select selectpicker" data-live-search="true" title="" id="j-All_Category" data-bv-field="size" data-size="10" style="flex: 1;">
                        <option disabled selected value="">Chọn địa điểm</option>
                        <option value="An Giang">An Giang</option>
                        <option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</option>
                        <option value="Bạc Liêu">Bạc Liêu</option>
                        <option value="Bắc Giang">Bắc Giang</option>
                        <option value="Bắc Kạn">Bắc Kạn</option>
                        <option value="Bắc Ninh">Bắc Ninh</option>
                        <option value="Bến Tre">Bến Tre</option>
                        <option value="Bình Dương">Bình Dương</option>
                        <option value="Bình Định">Bình Định</option>
                        <option value="Bình Phước">Bình Phước</option>
                        <option value="Bình Thuận">Bình Thuận</option>
                        <option value="Cà Mau">Cà Mau</option>
                        <option value="Cao Bằng">Cao Bằng</option>
                        <option value="Cần Thơ">Cần Thơ</option>
                        <option value="Đà Nẵng">Đà Nẵng</option>
                        <option value="Đắk Lắk">Đắk Lắk</option>
                        <option value="Đắk Nông">Đắk Nông</option>
                        <option value="Điện Biên">Điện Biên</option>
                        <option value="Đồng Nai">Đồng Nai</option>
                        <option value="Đồng Tháp">Đồng Tháp</option>
                        <option value="Gia Lai">Gia Lai</option>
                        <option value="Hà Giang">Hà Giang</option>
                        <option value="Hà Nam">Hà Nam</option>
                        <option value="Hà Nội">Hà Nội</option>
                        <option value="Hà Tĩnh">Hà Tĩnh</option>
                        <option value="Hải Dương">Hải Dương</option>
                        <option value="Hải Phòng">Hải Phòng</option>
                        <option value="Hậu Giang">Hậu Giang</option>
                        <option value="Hòa Bình">Hòa Bình</option>
                        <option value="Hưng Yên">Hưng Yên</option>
                        <option value="Khánh Hòa">Khánh Hòa</option>
                        <option value="Kiên Giang">Kiên Giang</option>
                        <option value="Kon Tum">Kon Tum</option>
                        <option value="Lai Châu">Lai Châu</option>
                        <option value="Lâm Đồng">Lâm Đồng</option>
                        <option value="Lạng Sơn">Lạng Sơn</option>
                        <option value="Lào Cai">Lào Cai</option>
                        <option value="Long An">Long An</option>
                        <option value="Nam Định">Nam Định</option>
                        <option value="Nghệ An">Nghệ An</option>
                        <option value="Ninh Bình">Ninh Bình</option>
                        <option value="Ninh Thuận">Ninh Thuận</option>
                        <option value="Phú Thọ">Phú Thọ</option>
                        <option value="Phú Yên">Phú Yên</option>
                        <option value="Quảng Bình">Quảng Bình</option>
                        <option value="Quảng Nam">Quảng Nam</option>
                        <option value="Quảng Ngãi">Quảng Ngãi</option>
                        <option value="Quảng Ninh">Quảng Ninh</option>
                        <option value="Quảng Trị">Quảng Trị</option>
                        <option value="Sóc Trăng">Sóc Trăng</option>
                        <option value="Sơn La">Sơn La</option>
                        <option value="Tây Ninh">Tây Ninh</option>
                        <option value="Thái Bình">Thái Bình</option>
                        <option value="Thái Nguyên">Thái Nguyên</option>
                        <option value="Thanh Hóa">Thanh Hóa</option>
                        <option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
                        <option value="Tiền Giang">Tiền Giang</option>
                        <option value="TP. Hồ Chí Minh">TP. Hồ Chí Minh</option>
                        <option value="Trà Vinh">Trà Vinh</option>
                        <option value="Tuyên Quang">Tuyên Quang</option>
                        <option value="Vĩnh Long">Vĩnh Long</option>
                        <option value="Vĩnh Phúc">Vĩnh Phúc</option>
                        <option value="Yên Bái">Yên Bái</option>
                    </select>
                    <select class="custom-dropdown" style="flex: 1;">
                        <option disabled selected value="">Chọn danh mục</option>
                        <option value="alljob">Tất cả</option>
                        <option value="fulltime">Toàn thời gian</option>
                        <option value="parttime">Bán thời gian</option>
                        <option value="parttime">Thực tập</option>
                    </select>
                </div>
                <button type="button" class="site-button" style="flex-shrink: 0;">Tìm kiếm</button>
            </div>
        </div>

        <div class="row">
            @{ Html.RenderAction("GetListAttractiveJobInHome", "Home");}
        
        </div>

        <div class="text-center">
            <a href="job-list.html" class="btn btn-secondary">Xem tất cả các công việc</a>
        </div>

    </div>

    <!-- Include Bootstrap JS -->

</div>

@{ Html.RenderAction("AdvertiseHomeFirst", "Home");}

<div style="background-color: rgb(223, 223, 223); padding:2px;margin-top:2px ">
    <div class="container my-5">
        <div class="" style="display:  flex;  align-items:center">
            @*<h2 style="color:rgb(4, 35, 108); margin-right:10px; font-size:30px;">Việc làm nổi bật</h2>

            <h5 style="border-left: 1px solid black; padding-left:10px">Được đề xuất bởi top AI</h5>*@
            @{ Html.RenderAction("GetTitlePageHome2", "Home");}

        </div>
        <div class="row" style=" display:flex;justify-content:center; ">
            @{ Html.RenderAction("GetListJobLike", "Home");}
            @{ Html.RenderAction("AdvertiseHomeSecond", "Home");}

        </div>
    </div>

</div>

<div class="section-full p-t120 p-b90 site-bg-white " style="background-color: rgb(223, 223, 223)">
    <div class="container ">

           @{ Html.RenderAction("GetTitlePageHomeNews", "Home");}

        <div class="section-content">
            @{ Html.RenderAction("GetListNewsHome", "Home");}

           
        </div>


    </div>
</div>
<!-- OUR BLOG END -->
<div class="section-head center wt-small-separator-outer ">
    @*<div class="wt-small-separator site-text-primary ">
        <div>Các công ty hàng đầu</div>
    </div>
    <h2 class="wt-title " style="color: rgb(4, 35, 108); padding-left:10px">Được tuyển dùng vào các công ty hàng đầu</h2>*@
    @{ Html.RenderAction("GetTitleListCompany", "Home");}
</div>

<div class="container ">
    <div class="section-content ">
        <div class="owl-carousel home-client-carousel2 owl-btn-vertical-center ">

            <div class="item ">
                <div class="ow-client-logo ">
                    <div class="client-logo client-logo-media ">
                        <a href="employer-list.html "><img src="~/ContentImage/images/client-logo/w1.png " alt=" "></a>
                    </div>
                </div>
            </div>

            <div class="item ">
                <div class="ow-client-logo ">
                    <div class="client-logo client-logo-media ">
                        <a href="employer-list.html "><img src="~/ContentImage/images/client-logo/w2.png " alt=" "></a>
                    </div>
                </div>
            </div>

            <div class="item ">
                <div class="ow-client-logo ">
                    <div class="client-logo client-logo-media ">
                        <a href="employer-list.html "><img src="~/ContentImage/images/client-logo/w3.png " alt=" "></a>
                    </div>
                </div>
            </div>

            <div class="item ">
                <div class="ow-client-logo ">
                    <div class="client-logo client-logo-media ">
                        <a href="employer-list.html "><img src="~/ContentImage/images/client-logo/w4.png " alt=" "></a>
                    </div>
                </div>
            </div>

            <div class="item ">
                <div class="ow-client-logo ">
                    <div class="client-logo client-logo-media ">
                        <a href="employer-list.html "><img src="~/ContentImage/images/client-logo/w5.png " alt=" "></a>
                    </div>
                </div>
            </div>

            <div class="item ">
                <div class="ow-client-logo ">
                    <div class="client-logo client-logo-media ">
                        <a href="employer-list.html "><img src="~/ContentImage/images/client-logo/w6.png " alt=" "></a>
                    </div>
                </div>
            </div>

            <div class="item ">
                <div class="ow-client-logo ">
                    <div class="client-logo client-logo-media ">
                        <a href="employer-list.html "><img src="~/ContentImage/images/client-logo/w1.png " alt=" "></a>
                    </div>
                </div>
            </div>

            <div class="item ">
                <div class="ow-client-logo ">
                    <div class="client-logo client-logo-media ">
                        <a href="employer-list.html "><img src="~/ContentImage/images/client-logo/w2.png " alt=" "></a>
                    </div>
                </div>
            </div>

           

        </div>
    </div>
</div>
