@model List<SeekerJob.Models.tablebanner>


<div class="twm-nav-list-1">
    <ul>
        <ul>
            @foreach (var item in Model)
            {

                    <li><a href="@item.meta"><i class="@item.icon"></i> @item.name</a></li>
                
            }
        </ul>

    </ul>
</div>
