

@{
    var table = ViewData["applyjobcandidate"] as List<SeekerJob.DTO.ListCandidateApplyJob>;
}

<div class="col-xl-9 col-lg-8 col-md-12 m-b30">
    <!--Filter Short By-->
    <div class="twm-right-section-panel candidate-save-job site-bg-gray">
        <div class="twm-D_table table-responsive">
            <table id="jobs_bookmark_table" class="table table-bordered twm-candidate-save-job-list-wrap">
                <thead>
                    <tr>
                        <th>Công ty</th>
                        <th>Đơn ứng tuyển</th>
                        <th>Ngày ứng tuyển</th>
                        <th>Hàng động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in table)
                    {
                        <tr>
                            <td>
                                <div class="twm-candidate-save-job-list">
                                    <div class="twm-media">
                                        <div class="twm-media-pic">
                                            <img src="~/ContentImage/images/@item.image" alt="#">
                                        </div>
                                    </div>
                                    <div class="twm-mid-content">

                                        <a class="twm-nav-sign-up" data-bs-toggle="modal" href="#popup_account" role="button">
                                            <h4>@item.name</h4>
                                        </a>
                                    </div>

                                </div>
                            </td>
                            <td><a href="javascript:;">Herbal Ltd</a></td>
                            <td>
                                <div>@item.datesend</div>
                            </td>

                            <td>
                                <div class="twm-table-controls">
                                    <ul class="twm-DT-controls-icon list-unstyled">
                                        <li>
                                            <a data-bs-toggle="modal" href="#saved-jobs-view" role="button" class="custom-toltip">
                                                <span class="fa fa-eye"></span>
                                                <span class="custom-toltip-block">Veiw</span>
                                            </a>
                                        </li>
                                        <li>
                                            <button title="Download" data-bs-toggle="tooltip" data-bs-placement="top">
                                                <span class="far fa-download"></span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>

                    }
                    <!--1-->




                </tbody>
            </table>
        </div>
    </div>
</div>