
<div class="col-xl-9 col-lg-8 col-md-12 m-b30">
    <!--Filter Short By-->
    <div class="twm-right-section-panel site-bg-gray">
        <form>
            <!--Basic Information-->
            <div class="panel panel-default">
                <div class="panel-heading wt-panel-heading p-a20">
                    <h4 class="panel-tittle m-a0">Đổi mật khẩu</h4>
                </div>
                <div class="panel-body wt-panel-body p-a20 ">

                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Mật khẩu cũ</label>
                                <div class="ls-inputicon-box">
                                    <input id="passwordold" class="form-control wt-form-control" name="company_name" type="password" placeholder="">
                                    <i class="fs-input-icon fa fa-asterisk "></i>
                                </div>
                                <p id="mspassold" style="padding:2px;display:none; color:aliceblue"></p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Mật khẩu mới</label>
                                <div class="ls-inputicon-box">
                                    <input id="passwordnew" class="form-control wt-form-control" name="company_name" type="password" placeholder="">
                                    <i class="fs-input-icon fa fa-asterisk"></i>
                                </div>
                                <p id="mspassnew" style="padding:2px;display:none; color:aliceblue"></p>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Nhập lại mật khẩu mới</label>
                                <div class="ls-inputicon-box">
                                    <input id="passwordnewagain" class="form-control wt-form-control" name="company_name" type="password" placeholder="">
                                    <i class="fs-input-icon fa fa-asterisk"></i>
                                </div>
                                <p id="mspassnewagain" style="padding:2px;display:none; color:aliceblue"></p>
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="text-left">
                                <div onclick="SaveChangePassword()" class="site-button">Lưu thay đổi</div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function SaveChangePassword() {

        var passold = $('#passwordold').val();
        var passnew = $('#passwordnew').val();
        var passnewagain = $('#passwordnewagain').val();
        flag = true;
        if (passold == '') {
            $('#mspassold').html('Vui lòng nhập mật khẩu cũ');
            $('#mspassold').css('border-color', 'red');
            $('#mspassold').css('color', 'red');
            $('#mspassold').css('display', 'block');
            flag = false;
        }
        if (passnew == '') {
            $('#mspassnew').html('Vui lòng nhập mật khẩu mới');
            $('#mspassnew').css('border-color', 'red');
            $('#mspassnew').css('color', 'red');
            $('#mspassnew').css('display', 'block');
            flag = false;
        }
        if (passnewagain == '') {
            $('#mspassnewagain').html('Vui lòng lại nhập mật khẩu mới');
            $('#mspassnewagain').css('border-color', 'red');
            $('#mspassnewagain').css('color', 'red');
            $('#mspassnewagain').css('display', 'block');
            flag = false;
            
        }
        if (passnew != passnewagain && passnew != '' && passnewagain!='') {
            $('#mspassnew').html('Mật khẩu không không giống nhau');
            $('#mspassnew').css('border-color', 'red');
            $('#mspassnew').css('color', 'red');
            $('#mspassnew').css('display', 'block');
            $('#mspassnewagain').html('Mật khẩu không giống nhau');
            $('#mspassnewagain').css('border-color', 'red');
            $('#mspassnewagain').css('color', 'red');
            $('#mspassnewagain').css('display', 'block');
            flag = false
        }

        if (flag==true) {
            var form = new FormData()
            form.append('passold', passold);
            form.append('passnew', passnew);
            form.append('passnewagain', passnewagain);
            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/ChangePassworCompany/ChangePassword', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var content = xhr.responseText;
                    var json_ct = JSON.parse(content);
                    console.log(json_ct); // Kiểm tra dữ liệu JSON
                    if (json_ct.Data.status == "OK") {
                        alert("Success");
                        $('#passwordold').val('');
                        $('#passwordnew').val('');
                        $('#passwordnewagain').val('');
                    }
                    else {
                        $('#mspassold').html('mật khẩu sai');
                        $('#mspassold').css('border-color', 'red');
                        $('#mspassold').css('color', 'red');
                        $('#mspassold').css('display', 'block');
                    }
                }
            }
            xhr.send(form);
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#passwordold').on('input', function () {
            $('#mspassold').html('');
            $('#mspassnew').html('');
            $('#mspassnewagain').html('');
        });

        $('#passwordnew').on('input', function () {
            $('#mspassold').html('');
            $('#mspassnew').html('');
            $('#mspassnewagain').html('');
        });


        $('#passwordnewagain').on('input', function () {
            $('#mspassold').html('');
            $('#mspassnew').html('');
            $('#mspassnewagain').html('');
        });


    });
</script>