

<div class="page-content">
    <div class="section-full p-t120 p-b90">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12 m-b30">
                    <!-- Nút quay lại -->
                    <div class="mb-4">
                        <button type="button" class="site-button" onclick="backToList()">
                            <i class="fa fa-arrow-left"></i> Quay lại danh sách
                        </button>
                    </div>

                    <!-- Copy nội dung từ view gốc của bạn -->
                    <div class="twm-right-section-panel site-bg-gray">
                        <form id="editJobForm">
                            <input type="hidden" name="id" value="" />

                            <!-- Các trường thông tin công việc -->
                            <div class="panel-heading wt-panel-heading p-a20">
                                <h4>Sửa thông tin công việc</h4>
                            </div>

                            <!-- Copy các trường input từ view gốc -->

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>