@using SeekerJob.Models
@{
    var item = ViewData["password"] as TitlePage;
}
<div class="container">
    <div class="wt-bnr-inr-entry">
        <div class="banner-title-outer">
            <div class="banner-title-name">
                <h2 class="wt-title">@item.tilteBig</h2>
            </div>
        </div>
        <!-- BREADCRUMB ROW -->
        @*<div>
                <ul class="wt-breadcrumb breadcrumb-style-2">
                    <li><a href="index-18.html">Trang chủ</a></li>
                    <li>Đổi mật khẩu</li>
                </ul>
            </div>*@

        <!-- BREADCRUMB ROW END -->
    </div>
</div>
